#contact{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
}

.contact-container{
    display: flex;
    justify-content: space-around;
    background: #fff;
}

.form-container{
    font-size: 30px;
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.form-container h1{
    font-size: 80px;
}

.contact-container .map{
    margin-top: 8px;
}

.h1{
    text-align: center;
    text-transform: uppercase;
}

.address{
    margin-top: 250px;
}

.info-container{
    background-color: #fff;
    text-align: center;
    padding: 15px 0;
}