/* .section{
    padding: 5rem 0;
    background: rgb(226, 226, 226);
} */

.box{
    width: 50%;
    margin: auto;
    padding-left: 2%;
    background: rgb(159, 170, 162);
    box-shadow: 5px 5px 10px #650598;
  }
  
.h1{
    padding:4%;
    text-shadow: 5px 5px 5px rgb(208, 114, 13);
}